<!DOCTYPE html>
<html>
<head>
	<title>New Figure</title>
</head>
<body>
	<h1>New Figure</h1><br>

	<form action="/figures/new" method="post">
		<label for="figure_name">Name:</label><br>
		<input type="text" name="figure[name]" id="figure_name"><br>

		<label>Select existing Landmarks</label><br>
		<%Landmark.all.each do |landmark|%>
			<input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input><br>
		<%end%>

		<label>Or create new landmark</label><br>
		<label for="Landmark Name">Name:</label>
		<input type="text" name="landmark[name]" id="new_landmark"><br>
		<label for="landmark_year_completed">Year Completed:</label>
		<input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>

		<label>Select existing Title</label><br>
		<%Title.all.each do |title|%>
			<input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
		<%end%>

		<label>Or create new title</label>
		<label for="Title Name">Title:</label>
		<input type="text" name="title[name]" id="new_title">
		<input type="submit" name="submit" value="Create New Figure">
	</form>
</body>
</html>

	